.full-image-container {
  background: black;
  width: 100vw;
  height: 100vh;
}

.full-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 130px);
}

.full-image {
  max-height: 100%;
  max-width: 100%;
}

.full-image-close-div {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  color: white;
  background-color: black;
  height: 20px;
}

.full-image-details-div {
  position: fixed;
  bottom: 0;
  background: black;
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

@media screen and (max-width: 550px) {
  .full-image-details-div {
    flex-direction: column !important;
  }
  .full-image-details-side {
    flex-direction: row !important;
  }
}

.close-icon {
  cursor: pointer;
}

.details-icon {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-image-details-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 160px;
}

.full-image-details-center {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.full-image-details-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.image-detail-description {
  display: flex;
  justify-content: center;
}

.details-text {
  font-size: 11px;
  margin: 0;
}

.download-button {
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 2em;
  width: 90px;
  height: 30px;
  font-size: 15px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  display: flex;
}

.download-button:hover {
background-color: #555;
}

.download-button:active {
background-color: black;
}

.download-button-div {
  width: 100%;
  display: flex;
  justify-content: center;
}