<div class="full-image-container">
  <div class="full-image-close-div">
      <mat-icon class="close-icon" (click)="onClosePhoto()">close</mat-icon>
  </div>
    <div class="full-image-div">
        <img [src]="selectedPhoto.urls.full" class="full-image">
    </div>
    <div class="full-image-details-div">
      <div class="full-image-details-side">
        <div class="full-image-details-row">
            <mat-icon class="details-icon">face</mat-icon>
            <p class="details-text">{{selectedPhoto.user.first_name}} {{selectedPhoto.user.last_name}}</p>
        </div>
        <div class="full-image-details-row">
            <mat-icon class="details-icon">thumb_up</mat-icon>
            <p class="details-text">{{selectedPhoto.likes}}</p>
        </div>
        <div class="full-image-details-row">
            <mat-icon  class="details-icon">photo_size_select_actual</mat-icon>
            <p class="details-text">{{selectedPhoto.width}} x {{selectedPhoto.height}}</p>
        </div>
      </div>
      <div class="full-image-details-center">
        <div class="image-detail-description">
            <h5>{{selectedPhoto.description}}</h5>
        </div>
      </div>
      <div class="full-image-details-side">
        <div class="download-button-div">
            <a class="download-button" href="{{selectedPhoto.links.download}}?force=true" download>Download</a>
        </div>
      </div>
    </div>
</div>