<div class="container">
  <div *ngIf="photos" class="grid">
    <div *ngFor="let photo of photos.results; let i=index" class="cell">
      <div (click)="onClickPhoto(photo)">
        <div class="content-overlay"></div>
        <img [src]="photo.urls.regular" class="responsive-image">
        <div class="content-details fadeIn-bottom">
          <div>
            <div class="overlay-details">
              <div class="overlay-details-icon">
                  <mat-icon mat-face-icon class="icon">face</mat-icon>
              </div>
              <div class="overlay-details-icon">
                  <mat-icon mat-thumb-up-alt-icon class="icon">thumb_up</mat-icon>
              </div>
            </div>
            <div class="overlay-details">
                <div class="overlay-details-icon">
                    <h5>{{photo.user.first_name}}</h5>
                </div>
                <div class="overlay-details-icon">
                    <h5>{{photo.likes}}</h5>
                </div>
            </div>
            <div class="overlay-details-description">
                <p>{{photo.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="photos">
    <div class="no-images-div" *ngIf="photos.results.length === 0">
      <img class="no-images-img" src="http://mikebiotech.lankainterweb.com/wp-content/uploads/2018/01/noimage.jpg">
    </div>
  </div>
</div>
