.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}

.cell {
  margin: 1rem;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cell .content-overlay {
  background: rgba(0,0,0);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.cell:hover .content-overlay{
  opacity: 1;
}

.cell:hover .responsive-image{
  opacity: .3;
  background: rgba(0,0,0,0.7);
}

.cell:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.fadeIn-bottom{
  top: 80%;
}

/*Tablet*/
@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}
/*desktop*/
@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.icon {
  color: white;
}

.overlay-details{
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.overlay-details-icon {
  display: flex;
  flex: 1;
  justify-content: center;
}

.overlay-details-description {
  margin-top: 1em;
}

.overlay-details-description {
  color: white;
}

.no-images-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-images-img {
  max-width: 100%;
  max-height: 100%;
}
