.search-input{
  padding-left: 12px;
  padding-right: 36px;
  height: 32px;
  width: 65vw;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
  border-radius: 1em;
}

.search-input:focus {
  outline: none !important;
  border:1px solid darkslategray;
  box-shadow: 0 0 10px #719ECE;
}

.search-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  box-shadow: none;
  margin-left: -34px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white !important;
  cursor: pointer;
  color: #cdcdcd;
}

.search-icon:hover {
  color: darkslategray;
}

.search-input-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}