<div class="search-container">
  <div class="search-input-icon-div">
    <input class="search-input" type="text" [(ngModel)]="searchValue" ng-trim="false" (keyup)="setQueryText($event)" (keydown)="onUserSearch($event)">
    <mat-icon (click)="onUserSearch(searchValue)" class="search-icon">search</mat-icon>
    <!-- <button class="search-icon" mat-mini-fab><mat-icon>search</mat-icon></button> -->
  </div>
</div>