<div *ngIf="!selectedPhoto">
  <app-search (userSearch)="onUserSearch($event)" (userSearchInput)="updateUserQuery($event)" [userSearchQuery]="userSearchQuery"></app-search>
  <app-photos (selected)="selectedPhoto=$event" [photos]='photos'></app-photos>
</div>
<div *ngIf="selectedPhoto">
  <app-full-photo (close)="closeSelectedPhoto($event)" [selectedPhoto]="selectedPhoto"></app-full-photo>
</div>